{{define "cart-num"}}
    <a href="/cart" class="btn position-relative">
        <i class="fa-solid fa-cart-shopping" style="font-size: 2rem">
        </i>
        {{ if $.cart_num}}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ $.cart_num }}
            {{ end }}
  </span>
    </a>
{{end}}