{{ define "cart" }}
    {{ template "header" . }}
    <div class="row">
        <ul class="list-group">
            {{ range $.items }}
                <li class="list-group-item">
                    <div class="card border-0">
                        <div class="card-body row">
                            <div class="col-4">
                                <img src="{{ .Picture }}" style="max-width: 100px;max-height: 50px" alt="">
                            </div>
                            <div class="col-8">
                                <div class="mt-1">{{ .Name }}</div>
                                <div class="mt-1">Single Price: ${{ .Price }}</div>
                                <div class="mt-1">Qty: {{ .Qty }}</div>
                            </div>
                        </div>
                    </div>
                </li>
            {{ end}}
        </ul>
        {{ if $.items }}
            <div class="mt-3 mb-5">
                <div class="float-end">
                    <div class="m-3 text-danger">Total: ${{ .total }}</div>
                    <a href="/checkout" class="btn btn-lg btn-success float-end">Check out</a>
                </div>
            </div>
        {{else}}
            <h1 class="text-center text-danger">Your Cart is empty</h1>
            <div class="text-center"><a href="/">Shop Hot Sale</a></div>
        {{ end }}
    </div>
    {{ template "footer" . }}

{{ end }}