{{define "sign-in"}}
{{ template "header" . }}
    <div class="row justify-content-center">
        <div class="col-4">
        <form method="post" action="/auth/login?next={{ .next }}">
            <div class="mb-3">
              <label for="email" class="form-label">Email {{template "required"}}</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password {{template "required"}}</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                Don't have account, click here to <a href="/sign-up">Sign Up</a>.
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
    </div>
</div>
{{ template "footer" .}}
{{end}}