go 1.23.0

toolchain go1.23.11

use (
	./app/cart
	./app/checkout
	./app/email
	./app/frontend
	./app/order
	./app/payment
	./app/product
	./app/user
	./common
	./demo/demo_proto
	./demo/demo_thrift
	./hello_world
)
