*.mp4
*.jpg	  
# *.sh
# pkg/consts/consts.go
.idea
cmd/user/output/bin/douyinuser
cmd/favorite/output/bin/favorite
cmd/comment/output/bin/comment
cmd/relation/output/bin/relation
cmd/user/output/bin/douyinuser
cmd/message/output/bin/message