{{ define "checkout" }}
    {{ template "header" . }}
    <div class="row mb-5">
        <div class="col-lg-8 col-sm-12">
            <form>
                <h4 class="mb-3 mt-3">Contact</h4>
                <label for="email" class="form-label col-12">
                    <input class="form-control" id="email" type="email" placeholder="Email"
                           aria-label="email">
                </label>
                <h4 class="mb-3 mt-3">Delivery</h4>
                <label for="region" class="form-label col-12">
                    <input type="text" class="form-control" id="region" name="region" placeholder="Region">
                </label>
                <div class="mb-3 mt-3 col-12 row">
                    <label for="first-name" class="col-md-6 col-sm-12">
                        <input type="text" class="form-control" placeholder="First name" name="first-name">
                    </label>
                    <label for="last-name" class="col-md-6 col-sm-12">
                        <input type="text" class="form-control" placeholder="Last name" name="last-name">
                    </label>
                </div>
                <label for="address" class="mb-3 mt-3 col-12 form-label">
                    <input type="text" class="form-control" placeholder="Address" name="address">
                </label>
                <div class="mb-3 mt-3 col-12 row">
                    <label for="city" class="col-md-6 col-sm-12">
                        <input type="text" id="city" class="form-control" placeholder="City" name="city">
                    </label>
                    <label for="province" class="col-md-6 col-sm-12">
                        <input type="text" id="province" class="form-control" placeholder="Province">
                    </label>
                </div>
                <h4 class="mb-3 mt-3">
                    Payment
                </h4>
                {{/*                <label for="card-num" class="form-label col-12">*/}}
                {{/*                    <input type="text" id="card-num" class="form-control" name="card-num" placeholder="Card number">*/}}
                {{/*                </label>*/}}
                {{/*                <div class="mb-3 mt-3 col-12 row">*/}}
                {{/*                    <label for="expiration-date" class="col-md-6 col-sm-12">*/}}
                {{/*                        <input type="text" id="expiration-date" name="expiration-date" class="form-control"*/}}
                {{/*                               placeholder="Expiration Date">*/}}
                {{/*                    </label>*/}}
                {{/*                    <label for="cvv" class="col-md-6 col-sm-12">*/}}
                {{/*                        <input type="text" id="cvv" class="form-control" name="cvv" placeholder="cvv">*/}}
                {{/*                    </label>*/}}
                {{/*                </div>*/}}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="paypal">
                    <label class="form-check-label" for="paypal">
                        Paypal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="wechat">
                    <label class="form-check-label" for="wechat">
                        Wechat
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="alipay" checked>
                    <label class="form-check-label" for="alipay">
                        Alipay
                    </label>
                </div>
                <div class="mt-3 mb-3">
                    <div class="float-end">
                        <div class="m-3 text-danger">Total: $100000</div>
                        <a href="/checkout" class="btn btn-lg btn-success float-end">Check out</a>
                    </div>
                </div>
            </form>
        </div>
        <ul class="list-group col-lg-4 col-sm-12">
            {{ range $.items }}
                <li class="list-group-item">
                    <div class="card border-0">
                        <div class="card-body row">
                            <div class="col-4">
                                <img src="/static/image/logo.jpg" style="max-width: 100px;max-height: 50px" alt="">
                            </div>
                            <div class="col-8">
                                <div class="mt-1">abc</div>
                                <div class="mt-1">Single Price: $100</div>
                                <div class="mt-1">Qty: 10</div>
                            </div>
                        </div>
                    </div>
                </li>
            {{ end}}
        </ul>
    </div>
    {{ template "footer" . }}

{{ end }}