{{ define "error" }}
    {{ template "header" . }}
    <div class="row">
        <div class="card border-0" style="width: 100%;">
            <div class="card-body row">
                <div class='col-lg-2'></div>
                <div class="col-lg-5 col-sm-12 flex-column align-self-end">
                        <h5 class="card-title">Error</h5>
                        <p class="card-text"> Somethine is error![{{ $.message }}]</p>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}