{{ define "footer" }}

    </div>
    </main>
    <footer class="py-5 bg-primary text-white">
        <div class="footer-top">
            <div class="container footer-social">
                <p>© 2023 CloudWeGo (<a class="text-white"
                                        href="https://github.com/cloudwego">Source Code</a>)</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
            integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
    </html>
{{ end }}
