{{ define "order" }}
    {{ template "header" . }}
    <div class="row">
        <div class="card border-0" style="width: 100%;">
            <div class="card-body row">
                <ul class="list-group">
                    {{ range $.orders }}
                        <li class="list-group-item">
                            <div class="card border-0">
                                <div class="card-body row">
                                    <div class="col-4">
                                        <img src="{{ .Picture }}" style="max-width: 100px;max-height: 50px" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="mt-1">{{ .Name }}</div>
                                        <div class="mt-1">Single Price: ${{ .Price }}</div>
                                        <div class="mt-1">Qty: {{ .Qty }}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{ end}}
                </ul>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}