{{ define "order" }}
    {{ template "header" . }}
    <div class="row">
        <div class="card border-0" style="width: 100%;">
                    {{ range $.orders }}
                    <div class="card-body row">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Order ID:{{ .OrderId }}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Consignee:{{ .Consignee.Email }},   CreatedAt:{{.CreatedAt}}</h6>
                              {{ range .Items }}
                              <p class="card-text">{{ .ProductName }}</p>
                              {{ end }}
                              <a href="#" class="card-link">Detail</a>
                            </div>
                          </div>
                          <p/>
                    {{ end}}
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}