{{ define "sign-up" }}
    {{ template "header" . }}
    <div class="container row p-5">
        <div class="col-3"></div>
        <form method="post" class="col-6" action="/auth/register">
            <div class="mb-3">
                <label for="email" class="form-label">Email {{template "required"}}</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password {{template "required"}}</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="password-confirm" class="form-label">Password confirm {{template "required"}}</label>
                <input type="password" class="form-control" id="password-confirm" name="password-confirm">
            </div>
            <div class="mb-3">
                Already have account, click here to <a href="/sign-in">Sign in</a>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
        <div class="col-3"></div>
    </div>
    {{ template "footer" . }}
{{ end }}