{{ define "about" }}
    {{ template "header" . }}
    <div class="row">
        <div class="card border-0" style="width: 100%;">
            <div class="card-body row">
                <div class="col-lg-5 col-sm-12 flex-column align-self-end">
                  <img src="/static/image/logo.jpg" class="col-lg-4 col-sm-12" alt="...">
                    <p>This is a community driven project</p>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
{{ end }}
